.header {
  padding: 25px 0;
  text-align: center;
  background: #333333;
}
.logo-img {
  width: 80px;
  height: 55px;
}

.shred-logo {
  width: 200px;
  height: 25px;
}

.header p {
  color: #bcc6cc;
}
